/* general */

button{
  color:rgb(20, 20, 20) !important;
}

/* ID's */



/* classes */
.App {
  color:rgb(20, 20, 20) !important;
}

.product-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 1%;
  padding-left: 15px;
  padding-right: 15px;
}

.single-product{
  width: 99%;
  
}

.single-product-title{
  font-weight: lighter;
}

.item-picture{
  width: 40vw;
  
}

.pic-desc{
  display: flex;
  gap: 30px;
  flex-flow:row wrap;
}

.header{
  width: 40vw;
  flex-flow:row wrap;
}

.shoppingcart{
  width: 20vw;
}



.card{
  width: 18rem;
  height: 700px;
  margin-top: 20px;
}


/*@media */
@media (max-width: 300px){
  .product-container{
    flex-direction: column;
  }
}